*{
    margin: 0px;
    padding: 0px;
    border: border-box;
}
body{
    background-image: url("./backk.jpg");
    background-size: cover;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
}
.welcome{
    text-shadow:0 4px 8px #0001119c, 0 6px 20px #000111;
    font-size: 2rem;
    margin: 35px;
    font-family: Verdana;
    text-align: left;
    color:white;
    font-weight: 600;
}
.login-form {
    margin-top: 20px;
    width: 350px;
    height: 450px;
    background-color: #4e4feb;
    border: 1px solid transparent;
    border-radius: 10%;
    box-shadow: 0 4px 8px #0001119c, 0 6px 20px #000111;
}
.details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    margin-bottom: 10px;
    color: #eeeeee;
    margin-top: 20px;
    font-family: Verdana;
    font-size: 1.2rem;
    text-shadow:0 2px 6px #0001119c, 0 4px 15px #000111;
}
input{
    text-align: center;
    padding: 5px;
    font-size: 0.7rem;
    margin-top: 10px;
    height: 40px;
    width: 65%;
    border: none;
    border-radius: 20px;
}
input:focus{
    outline: none;
    box-shadow: 0 4px 8px #0001119c, 0 6px 20px #000111;
}
.entr-btn{
    font-size: 0.9rem;
    font-family: Verdana;
    display: block;
    margin-top: 25px;
    width: 50%;
    height: 30px;
    background-color: #068fff;
    border: 1.5px solid #4e4feb;
    border-radius: 25px;
    box-shadow: 2px 2px 4px #0001119c, 2px 4px 15px #000111;
}
a{
    color: #eeeeee;
    text-decoration: none;
}